body {
  margin: 0;
  padding: 0;
  background-color: #282829;
  font-family: 'Barlow', sans-serif;
}

html {
  background-color: #282829;
}

/* color variables for easy access */

:root {
  --color-primary: #b295e9;
  --color-secondary: #f19580;
}

/* wave background styling */

.wave-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50vh;
  background: linear-gradient(90deg, rgba(178, 149, 233, 1) 27%, rgba(242, 149, 128, 1) 75%);
  z-index: 2;
}

/* container for ease of content alignment */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* text and logo styling */

h1 {
  padding: 0;
  margin: 0;
  padding-top: 3.5rem;
  font-size: 4.5rem;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  padding-top: 3.5rem;
  height: 4rem;
}

/* input styling */

form {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 0.75rem;
  padding: 0.5rem;
  width: 55%;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.2);
  margin-top: 6rem;
  z-index: 10;
}

input {
  font-family: 'Barlow', sans-serif;
  flex-grow: 2;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  color: grey;
}

button {
  border: none;
  border-radius: 0.5rem;
  height: 3.5rem;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  background: var(--color-primary);
  color: white;
  z-index: 999;
}

/* remove input focus blue box */

input:focus {
  outline: none;
}

/* change color of input placeholder */

::placeholder {
  color: #ddd;
}

/* a lil on hover action */

button:hover {
  cursor: pointer;
  background: #936BE0;
  transition: 300ms ease;
}

/* mobile responsive tweaks */

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
    padding-top: 2rem;
  }
  .logo {
    padding-top: 2rem;
  }
  form {
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  input {
    font-size: 1rem;
  }
  .wave-container {
    height: 30vh;
  }
  button {
    padding: 0rem 1rem;
    font-size: 1rem;
  }
  h2 {
    padding: 0;
    margin: 0;
    padding-top: 3.5rem;
    font-size: 3.5rem;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 10;
  }
}

h2 {
  padding: 0;
  margin: 0;
  padding-top: 3.5rem;
  font-size: 3.5rem;
  background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}